homePath: /home/user/dev
deployer:
    remote: 192.168.10.254
logger:
    console:
      level: debug
    file:
      filename: '/var/log/ardana-service/service.log'
      level: info
      colorize: false
      json: true

