Flask>=0.11,<1.0  # BSD
eventlet # MIT
flask-socketio # MIT
flask-cors # MIT
PyYAML>=3.10.0 # MIT
gitpython>=2.0 # BSD-3
oslo.config>=5.1.0 # Apache-2.0
oslo.log>=3.30.0 # Apache-2.0
keystonemiddleware>=4.17.0 # Apache-2.0
